.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #141414;
  border-radius: 10px;
}

.container {
  transition: transform .2s;
}

.container:hover {
  transform: scale(1.5);
}

.container:hover .image {
  opacity: 1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


@media only screen and (max-width: 1440px) {
  .modal img {
    height: 60vh;
  }
}

@media only screen and (max-width: 1024px) {
  .modal img {
    height: 50vh;
  }
  .box {
    overflow: scroll;
    object-fit: contain;
  }
}


@media only screen and (max-width: 768px) {
  .box {
    overflow: scroll;
  }
}