.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.movies-list {
  width: 90%;
  margin: 0 auto;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 100px 10px
}

.movie-list-item {
  cursor: pointer;
}

body {
  background-color: #141414;
}

body {
  color: white;
}